{% extends 'base.html' %}

{% load static %}
{% load custom_tags %}

{% block content %}
<!-- Referencia a Bootstrap y tu archivo CSS -->
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/styles.css' %}">

<div class="container-fluid">
    <div class="row justify-content-center align-items-center" style="min-height: 100vh;">
        <div class="col-md-5 left-section text-center d-flex flex-column justify-content-center">
            <h1>CalendarioPyme</h1>
            <p>CalendarioPyme te ayuda a organizarte</p>
        </div>
        <div class="col-md-5 right-section">
            <form method="post" action="">
                {% csrf_token %}
                
                {% if form.errors %}
                    <div class="alert alert-danger">
                        <p>Tu usuario y contraseña no coinciden. Por favor intenta otra vez.</p>
                    </div>
                {% endif %}
                <div class="text-center mb-4">
                    <img src="{% static 'images/login.png' %}" alt="Descripción de la imagen" class="img-fluid custom-img">
                </div>

                <div class="mb-3">
                    <label for="username" class="form-label">{{ form.username.label }}</label>
                    {{ form.username|add_class:"form-control" }} <!-- Aplicar filtro de clase personalizada -->
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">{{ form.password.label }}</label>
                    {{ form.password|add_class:"form-control" }} <!-- Aplicar filtro de clase personalizada -->
                </div>

                <a href="#" class="forgot-password">¿Olvidaste tu contraseña?</a>
                <div class="button-group mt-3">
                    <button type="submit" class="btn btn-primary">Iniciar sesión</button>
                    <a href="{% url 'register' %}" class="btn btn-secondary">Crear cuenta</a> <!-- Redirigir al formulario de registro -->
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}








