{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center align-items-center" style="min-height: 100vh;">
        <div class="col-md-5 left-section text-center d-flex flex-column justify-content-center">
        <h1>¡Bienvenido!</h1>
        <p>Crea tu cuenta y empieza a gestionar tu calendario de manera eficiente.</p>
    </div>
    <div class="col-md-5 right-section">
        <h2>Crear Cuenta</h2>
        <form method="post" action="{% url 'register' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="button-group">
                <button type="submit" class="btn btn-primary">Registrarse</button>
                <a href="{% url 'login' %}" class="btn btn-secondary">Volver al Login</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}



